body{
	font-size: 16pt;
	font-family: "Times New Roman";
	margin-left: 50px;

}

h1{
	color: #228B22;
}
li{
	line-height: 60px;
	word-spacing: 5px;
	margin-left: 150px;
}
.uclogo{
	float: left;
	margin-top: 20px;
}
.ccdc1logo{
	float: left;
	margin-left: -40px;
}
.ccdc2logo{
	float: left;
	margin-left: -40px;
}
.ltcslogo{
	float: left;
	margin-left: -40px;
}