body{
	font-size: 16pt;
	font-family: "Times New Roman";
	margin-left: 50px;
}

h1{
	color: #228B22;
}
li{
	line-height: 60px;
	word-spacing: 5px;
	margin-left: 150px;
	font-weight: bold;
}
blockquote{
	line-height: 5px;
	word-spacing: 3px;
	margin-left: 200px;
}